* {
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

.section-fields {

    position: relative;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 5%;
}

.section-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}
